.header {
    background: firebrick;
}

.header h1 {
    color: #fff;
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}

@media screen and (max-width: 500px) {
    .header h1{
        font-size: 30px;
    }   
}